# data collection/processing
pandas
numpy
requests
bs4
html5lib
scipy

# database
psycopg2-binary
sqlalchemy

# Visualization
streamlit
matplotlib
plotly
altair

# Scheduling & Automation
prefect           # or Apache Airflow
python-dotenv

# Testing
pytest
